.Greeting{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
}
.imageBlur{
    filter: blur(3px);
    -webkit-filter: blur(3px);
}
.Greting__img{
    width: 100%;
    height: 100%;
}
.Greting__img span{
    position: static !important;
}
.textContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}
.text{
    color: rgb(240, 240, 240);
    position: relative;
    top: -10%;
    font-weight: 900;
    text-align: center;
}
.text h1{
    text-shadow: 1px 1px 5px rgba(22, 22, 22, 0.96);
    font-size: xx-large;
}
.text p{
    text-shadow: 1px 1px 5px rgba(22, 22, 22, 0.96);
    padding-top: 10px;
    font-weight: 700;
    font-size: medium;
}
@media screen and (min-width: 769px) {
    .Greeting{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .text h1{
        font-size: 5em;
      }
      .text p{
        padding-top: 10px;
        font-size: 2em;
      }
  }