.containCard{
    width: 100%;
    height: 100%;
    padding: 1rem 3rem;
}
.cardFood{
    overflow: hidden;
    width: 100%;
    max-height: 38rem;
    height: 100%;
    border-radius: 5px;
    box-shadow: var(--shadow-30);
    display: flex;
    flex-direction: column;
    position: relative;
    transition: box-shadow ease-in 0.1s;
}
.cardFood:focus{
    outline: 2px solid var(--maincolorblue-200-op-80);
}
.discount{
    position: absolute;
    z-index: 7;
    background-color: #00984C;
    height: 100px;
    width: 100px;
    top: -50px;
    right: -50px;
    transform: rotate(-45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:0var(--shadow-30);
}
.discount span{
    position: relative;
    top: 0px;
    left: -25px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #dadce0;
}
.cardFood__img{
    height: 100%;
    width: 100%;
    border-radius: 2px;
}
.cardFood__a {
    max-height: 28rem;
    width: 100%;
    overflow: hidden;
}
.FoodDetails{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.lastPrice{
    color: rgb(119, 119, 119);
    font-size: 1.3rem;
    text-decoration: line-through;
}
.priceFood{
    font-size: 2.5rem;
    font-weight: 600;
}
@supports(object-fit: cover){
    .cardFood__img{
      object-fit: cover;
      object-position: center center;
    }
}

.cardFood
.titleFood{
    font-size: 1.5rem;
}


@media screen and (min-width:538px) and (  max-width: 768px ) {
    .cardFood{
        box-shadow: var(--shadow-30);
    }
    .cardFood:hover{
        box-shadow: var(--shadow-50);
    }
    .containcard{
        padding: 10px 5px;
    }
}
@media screen and (min-width: 769px) {
    .cardFood{
        box-shadow: var(--shadow-30);
    }
    .cardFood:hover{
        box-shadow: var(--shadow-50);
    }
    .containcard{
        padding: 10px 5px;
    }
}