/*css Header */
/* Mobile */
.header {
	background-color: var(--fillingcolor);
	width: 100%;
	height: 65px;
	z-index: 100;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	transition: all ease-in 0.1s;
}

img.header__img {
	height: 43px;
	width: 139.67px;
}

.header__nav {
	position: fixed;
	display: flex;
	height: auto;
	width: 100%;
	align-items: center;
	justify-content: center;
	bottom: 0;
	left: 0;
	background-color: var(--fillingcolor);
	z-index: 150;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}
.header__nav ul {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0.5rem 1rem;
	gap: 1rem;
}

.header__nav ul li{
	position: relative;
	width: 100%;
}


/* .header__nav ul li img {
	height: 36px;
	width: 36px;
	border-radius: 18px;
}
@supports (object-fit: cover) {
	.header__nav ul li img {
		object-fit: cover;
		object-position: center center;
	}
} */

.header__nav ul li a {
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	color: white;
	font-size: 2rem;
	height: 58px;
	border-radius: 10px;
	padding: 0.5rem;
	gap: 0.5rem;
}

.header__nav ul li a[aria-disabled="true"]{
	pointer-events: none;
}

.header__nav ul li a:focus {
	outline: 2px solid var(--maincolorblue-200-op-80);
}

.header__nav ul li a.focusPage {
	background-color: var(--maincolorblue);
}

.falseHeader {
	height: 65px;
}



/* Tablet */
@media screen and (min-width: 538px) and (max-width: 768px) {
	.header {
		background-color: var(--fillingcolor);
	}
}

/* Desktop */
@media screen and (min-width: 769px) {
	.header__mobile {
		display: none;
	}
	.header {
		height: 70px;
		background-color: var(--fillingcolor);
	}
	.falseHeader {
		height: 70px;
	}
	.header__img {
		height: 100%;
		width: auto;
	}
	.header__nav {
		position: static;
		display: flex;
		height: 100%;
		width: auto;
		align-items: center;
		justify-content: space-between;
		top: 0;
		left: 1px;
		background-color: transparent;
	}
	.header__nav ul {
		list-style-type: none;
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		margin-top: 0px;
	}
	.header__nav ul li {
		margin-left: 10px;
		margin-right: 10px;
		width: 100px;
		height: 58px;

	}
	.header__nav a {
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: center;
		color: white;
		font-size: 2rem;
		width: 100%;
		height: 100%;
	}
	.header__nav ul li:hover {
		background-color: var(--maincolorblue);
	}
	.header__nav .information {
		position: absolute;
		background-color: white;
		color: var(--fillingcolor);
		z-index: 4;
	}
}
