.container{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	height: 3px;
	width: 100vw;
}
.progressbar{
	position: absolute;
	display: block;
	height: 100%;
	/*  */
	/* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
	background: linear-gradient(-45deg, rgb(3, 27, 109) 0%, rgba(64,174,231,1) 48%, rgba(0,152,76,1));
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
.progressbar::before{
	content: "";
	position: absolute;
	display: block;
	right: 0;
	top: 0;
	height: 3px;
	width: 30px;
	background-color: transparent;
	box-shadow: 0px 0px 15px 1px rgba(240, 248, 255, 0.6);
	transition: width ease 100ms;
	border-radius: 10px;
}
.progressbar::after{
	content: "";
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	height: 3px;
	width: 30px;
	box-shadow: 0px 0px 15px 1px rgba(240, 248, 255, 0.6);
	animation: send 2s ease-in-out infinite;
	animation-delay: 2s;
	border-radius: 10px;
}

@keyframes send {
	0% {
		left: 0%;
	}
	50% {
		left: 50%;
	}
	100% {
		left: calc(100% - 30px);
	}
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
