.screenShowMenu{
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 220px 1fr;
}
.containerIMG{
  position: absolute;
  width: 350px;
  height: 350px;
  top: -120px;
  left: -100px;
}
/* because of tailwind */

.descriptionShowMenu{
    width: 100%;
    padding: 3rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}
.descriptionShowMenu h3{
    font-weight: 800;
}
  
@media screen and (min-width:425px) and (  max-width: 768px ) {
    .containerIMG{
      width: 450px;
      height: 450px;
      top: -140px;
      left: -130px;
    }
    .screenShowMenu{
      grid-template-rows: 315px 1fr;
      grid-template-columns: 1fr;
    }
}
@media screen and (min-width: 769px) {
    .containerIMG{
      width: 600px;
      height: 600px;
      top: -220px;
      left: -180px;
    }
    .screenShowMenu{
      grid-template-rows: 1fr;
      grid-template-columns: 500px 1fr;
    }
}
@media screen and (min-width: 1024px) {
  .containerIMG{
    width: 800px;
    height: 800px;
    top: -320px;
    left: -280px;
  }
  .screenShowMenu{
    grid-template-rows: 1fr;
    grid-template-columns: 500px 1fr;
  }
}