.screenShowMenu{
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 300px 1fr;
}
.containerIMG{
  position: absolute;
  width: 400px;
  height: 400px;
  top: -120px;
  left: -100px;
}
.imageDish{
    border-radius: 50%;
    padding: 2rem !important;
    position: absolute;
    top: 100px;
}
.descriptionShowMenu{
    width: 100%;
    padding: 3rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}
.descriptionShowMenu h3{
    font-weight: 800;
}
  
@media screen and (min-width:425px) and (  max-width: 768px ) {
    .containerIMG{
      width: 450px;
      height: 450px;
      top: -140px;
      left: -130px;
    }
    .screenShowMenu{
      grid-template-rows: 350px 1fr;
      grid-template-columns: 1fr;
    }
}
@media screen and (min-width: 769px) {
    .containerIMG{
      width: 600px;
      height: 600px;
      top: -220px;
      left: -180px;
    }
    .screenShowMenu{
      grid-template-rows: 1fr;
      grid-template-columns: 500px 1fr;
    }
}