.imageSlide{
    height: 135px;
    position: relative;
}
.imageSlide img{
    min-height: 135px !important;
}

@media screen and (min-width:538px) and (  max-width: 768px ) {
    .imageSlide{
        height: 270px;
    }
    .imageSlide img{
        min-height: 270px !important;
    }
}

@media screen and (min-width: 769px) {
    .imageSlide{
        height: 300px;
    }
    .imageSlide img{
        min-height: 300px !important;
        min-width: fit-content !important;
        max-width: 1250px !important;
    }
}
