.fillContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.position{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0rem 0rem 0.2rem rgba(9, 30, 66, 0.25));
}
.position::before{
    content: '';
    width: 14px;
    height: 14px;
    background-color: #dbeafe;
    z-index: 1;
    display: block;
    position: absolute;
    transform: rotate(45deg);
}
.toolTip{
    position: absolute;
    text-align: center;
    font-size: medium;
    border-radius: 0.5rem;
    z-index: 2;
    min-width: 50px;
    max-width: 400px;
    width: max-content;
    overflow: hidden;
    background-color: #dbeafe;
    color: var(--background-b);
    font-size: medium;
    padding: 1rem;
}
.position-top{
    left: 50%;
    top: -10px;
}
.position-top .toolTip{
    bottom: 0;
}


.position-bottom{
    left: 50%;
    bottom: -10px;
}
.position-bottom .toolTip{
    top: 0;
}

.position-left{
    top: 50%;
    left: -10px;
}
.position-left .toolTip{
    right: 0;
}

.position-right{
    top: 50%;
    right: -10px;
}
.position-right .toolTip{
    left: 0;
}
