.preview{
    position: relative;
    cursor: pointer;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.background{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity ease-in 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preview:hover .background{
    background-color: rgba(26, 26, 26, 0.685);
    opacity: 1;
}
.containterModal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(26, 26, 26, 0.685);
}
.buttons{
    position: absolute;
    top: 3rem;
    right: 3rem;
    display: flex;
    gap: 1rem;
    z-index: 102;
}
.modalImg{
    z-index: 101;
    position: relative;
    height: 80%;
    width: 80%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s;
}
.spanIMG {
    border-radius: 2rem;
    display: inline-block;
    position: relative ;
    box-sizing: border-box;
    overflow: hidden;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0px;
    margin: 0px;
    padding: 0px;
    max-width: initial !important;
}
.spanIMG span{
    display: block !important;
    position: relative !important;
}
.spanIMG img{
    width: max-content !important;
    height: max-content !important;
    position: relative !important;
}

@media screen and (max-width:538px) {
    .modalImg{
        height: 95%;
        width: 95%;
    }
    .spanIMG{
        max-width: 100% !important;
        width: 100%;
    }
}
