@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  font-size: 62.5%; /* to convert 1 rem == 10px */
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body{
  overflow: overlay;
}
#root{
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root{
  --maincolorblue-100: #8db5c0;
  --maincolorblue-200: #60aec4;
  --maincolorblue-300: #2d94b1;
  --maincolorblue-400: #179abe;
  --maincolorblue:#0096c1;
  --fillingcolor-100: #546670;
  --fillingcolor-200: #314652;
  --fillingcolor-300: #284657;
  --fillingcolor-400: #163a4d;
  --fillingcolor: #0B3247;
  --maincolorgreen-100: #509673;
  --maincolorgreen-200: #2c9460;
  --maincolorgreen-300: #21965b;
  --maincolorgreen-400: #109955;
  --maincolorgreen: #00984C;
  --background-0: #e8eaed;
  --background-w-100: #767777;
  --background-w-200: #a3a4a5;
  --background-w-300: #b8b8b9;
  --background-w-400: #d8d9da;
  --background-w: #e8eaed;
  --background-b-100: #707070;
  --background-b-200: #505050;
  --background-b-300: #424242;
  --background-b-400: #292929;
  --background-b: #161616;
  --danger-color-100: #f58f88;
  --danger-color-200: #fc695f;
  --danger-color-300: #f75044;
  --danger-color-400: #f83123;
  --danger-color: #f71504;
  --fire-spinner-margin : #1a73e8;
  --text-color-w: #e8eaed;
}
::-webkit-scrollbar{
  transition: all ease 0.5s;
  width: 5px;
  background-color: var(--background-0);
}
::-webkit-scrollbar-thumb{
  background-color: var(--fillingcolor);
  border-radius: 4px;
}
