@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  font-size: 62.5%; /* to convert 1 rem == 10px */
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root{
  --maincolorblue-100: #0096c133;
  --maincolorblue-200: #0096c166;
  --maincolorblue-300: #0096c199;
  --maincolorblue-400: #0096c1cc;
  --maincolorblue:#0096c1;
  --fillingcolor-100: #0b324733;
  --fillingcolor-200: #0b324766;
  --fillingcolor-300: #0b324799;
  --fillingcolor-400: #0b3247cc;
  --fillingcolor: #0B3247;
  --maincolorgreen: #00984C; 
  --maincolorgreen-300: #00984c99; 
  --background-0: #e8eaed;
  --text-color-w: #e8eaed;
  --fire-spinner-margin : #1a73e8;
}