html{
  font-size: 62.5%; /* to convert 1 rem == 10px */
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root{
  --maincolorblue:#0096C1;
  --maincolorgreen: #00984C; 
  --fillingcolor: #0B3247;
  --background-0: #e8eaed;
}