.screenShowMenu{
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 300px 1fr;
}
.containerIMG{
  width: 400px;
  height: 400px;
  position: absolute;
  top: -120px;
  left: -100px;
  border-radius: 50%;
  transition: all ease-in 0.5s;
  background: rgb(0,150,193);
  background: -moz-linear-gradient(45deg, rgba(0,150,193,1) 0%, rgba(0,152,76,1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(0,150,193,1) 0%, rgba(0,152,76,1) 100%);
  background: linear-gradient(45deg, rgba(0,150,193,1) 0%, rgba(0,152,76,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0096c1",endColorstr="#00984c",GradientType=1);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.imageDish{
  border-radius: 50%;
  padding: 2rem !important;
  position: absolute;
  top: 100px;
}
.descriptionShowMenu{
  width: 100%;
  padding: 3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
}
.descriptionShowMenu h3{
  font-weight: bold;
}
.redirectMenu{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 20rem;
  background-color: var(--maincolorgreen);
  font-size: x-large;
  border-radius: 1rem;
  color: white;
}

@media screen and (min-width:425px) and (  max-width: 768px ) {
  .containerIMG{
    width: 450px;
    height: 450px;
    top: -200px;
    left: -180px;
  }
  .screenShowMenu{
    grid-template-rows: 1fr;
    grid-template-columns: 300px 1fr;
  }
}
@media screen and (min-width: 769px) {
  .containerIMG{
    width: 600px;
    height: 600px;
    top: -220px;
    left: -180px;
  }
  .screenShowMenu{
    grid-template-rows: 1fr;
    grid-template-columns: 500px 1fr;
  }
}