.MenuFoodMain{
    background-color: #f5f6f7;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
}
.Slide{
    display: block;
    width: 100%;
}
.ContainerAllFood{
    border-radius: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "a"
    "b";
    padding: 0 5px;
    margin-bottom: 30px;
    max-width: 1500px;
}
.searchFood{
    grid-area: a;
    padding: 10px;
    display: grid;
    align-content: center;
}
.searchFood .titleFood{
    font-size: 2.5rem;
    text-decoration: none;
    text-align: center;
}
.formFood{
    display: grid;
    align-items: center;
    width: 100%;
    margin: 10px 0px;
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
    grid-template-areas:
    "search search"
    "a b";
}
.sortFood, .selectFood{
    padding: 3px;
    outline: none;
    margin: 10px 0px;
    text-align: center;
    width: 100%;
}
.searchSection{
    grid-area: search;
    text-align: center;
}
.inputfoodSearch{
    width: 100%;
    text-align: center;
    height: 30px;
    padding: 3px;
    border-radius: 0.4rem;
    outline: none;
    outline-offset: 0.2rem;
}
.inputfoodSearch:focus{
    outline: 0.2rem solid var(--maincolorblue);
}
.loader{
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: b;
}

@media screen and (min-width:538px) and (  max-width: 768px ) {
    .ContainerAllFood{
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "a a"
        "b b";
        border-radius: 25px;
        width: 95%;
    }
    .searchFood{
        grid-area: a;
    }
    .loader{
        grid-area: b;
    }
}
@media screen and (min-width: 769px) {
    .ContainerAllFood{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "a a a a"
        "b b b b";
        border-radius: 15px;
    }
    .searchFood{
        grid-area: a;
    }
    .loader{
        grid-area: b;
    }
    .formFood{
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-areas:
        "a search b";
    }
}